@charset "UTF-8";

/*
    #809671 - mat
    #E5E0D8 - amolnd
    #B3B792 - Pistach
    #D2AB80 - Chai
    #725C3A - carob
    #E5D2B8 - vanilla
*/

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100%;
    background-color: #E5D2B8;
}

header {
    background-color: #E5E0D8;
    padding-bottom: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.473);
    border-radius: 0px 0px 10px 10px;
}

header > h1 {
    text-align: center;
    font-size: 3em;
    padding: 10px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.473);
}

header > nav {
    text-align: center;

}

nav > a {
    text-decoration: none;
    color: #57462c;
    font-size: 2em;
    font-weight: bold;
    transition-duration: 0.5s;
    border-radius: 10px;
}

nav > a:hover {
    background-color: #57462c;
    color:#E5E0D8;
    text-decoration: none;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

main > article {
    padding: 20px;
    margin: 10px;
}

main > a:hover {
    width: 200px;
}

main > img {
    width: 300px;
    box-shadow: 20px 20px 6px rgba(0, 0, 0, 0.603);
    justify-content: center;
    border-radius: 10px;
}

main > article > p {
    padding-top: 30px;
    font-size: 30px;
    text-align: justify;
}

.imgtext {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    margin: 10px;
    width: 300px;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.603);
}

article {
    justify-items: center;
    text-align: center;
}

footer {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    bottom: 0;
}


footer > p {
    font-size: 25px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.233);
}

footer > a {
    text-decoration: none;
    width: 16px;
    color: #57462c;
    font-size: 16px;
}

footer > a:hover {
    background-color: #57462c;
    color: #E5D2B8;
    transition-duration: 0.5s;
    border-radius: 10px;
}